{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Ani.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="rueda">
        <div class="llanta"></div>
        <div class="tornillo-central"></div>
        <div class="primer-eje"></div>
        <div class="segundo-eje"></div>
        <div class="cuerpo-auto"</div>
        <div class="techo-auto"></div>
        <div class="parabrisas"></div>
        <div class="llanta-2"></div>
        <div class="tornillo-central-2"></div>
        <div class="primer-eje-1"></div>
        <div class="segundo-eje-2"></div>
        <div class="tubo-escape"></div>
        <div class="foco-delantero"></div>
        <div class="foco-trasero"></div>
      </div>
      </div>
      
        <div class="calle"></div>
      <div class="background"></div>
      <div class="sol"></div>
      <div class="desierto"></div>
      <div class="cactus-1"></div>
      <div class="cactus-2"></div>
      <div class="cactus-2-1"></div>
      <div class="cactus-3"></div>
      <div class="cactus-3-1"></div>
      
      </div>
      
      
      
</body>
</html>