{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paryatak</title>
    <link rel="stylesheet" href="{% static 'land.css' %}">
</head>
<body>

  <section class="showcase">
    <header>
      <h2 class="logo">Paryatak</h2>
      <div class="toggle"></div>
    </header>
    <video src="{%static 'Waterfall - 37088.mp4'%}" muted loop autoplay ></video>
    <div class="overlay"></div>

    <div class="text">
      <div id="translate" style="float:right;"></div>

      <h2>Never Stop To </h2> 
      <h3>Exploring The World</h3>
      <p>Book your date with Nature, Expeience an adventure of a lifetime,
         Come join us at Paryatak, we are your companion for the journey around the world.</p>
      <a href="#">Explore</a>
    </div>
    <ul class="social">
      <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
      <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
      <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
    </ul>
    <div class="statbox">
         
      <div data-aos="fade-up" data-aos-delay="150" class="stat1"><img src="data:image/png;base64,{{data1}}" alt="" height="250" ,width="250"></div>
     
    </div>
  </section>
  <div class="menu">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="login">Login</a></li>
      <li><a href="registration">Sighnup</a></li>
      <li><a href="#">Help</a></li>
    </ul>
  </div>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=gtranslate"></script>

  <script>
    function gtranslate() {
      new google.translate.TranslateElement({pageLanguage: 'en'}, 'translate');
    }
    </script>


</div>
  <script src="{%static 'land.js'%}"></script>
</body>
</html>