<!DOCTYPE html>

<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Responsive Navbar with Search Box | CodingNepal</title>
      <link rel="stylesheet" href="static/stat/land.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <nav>
         <div class="menu-icon">
            <span class="fas fa-bars"></span>
         </div>
         <div class="logo">
            Paryatak
         </div>
         <img src="static/stat/back.jpg" class="back"/>
        
         <div class="nav-items">
            <li><a href="#">Travel</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Blogs</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Feedback</a></li>
         </div>
         <section class="statbox">
         
        <div data-aos="fade-up" data-aos-delay="150" class="stat1"><img src="data:image/png;base64,{{data1}}" alt="" height="250" ,width="250"></div>
       
        </section>
        <img src="static/stat/madam.png" class="madam"/>
         
        <h1>2022 Transport Mode <br> ANALYTICS</h1>
      </nav>
      <div class="content">
         <header class="space"></header>
        
        
      </div>
      
   </body>
</html>